{% extends "base.html" %}

{% block content %}
<div class="flex h-screen items-center justify-center text-center">

    <div class="bg-white p-4 w-full max-w-xl rounded-md drop-shadow-lg border-gray-300 border-2">
        <h1 class="text-3xl font-bold mb-4">Social Memory Complex</h1>
        <p class="text-lg mb-4">We are merging the spiritual world and the digial world by blessing the blockchains, ushering in the heaven era of web3.</p>
        <a href="https://discord.gg/tfupmNChs5" class="bg-green-500 rounded-full p-3 block text-center text-white font-bold mb-3">Join Our Discord</a>
        <p class="text-xs">Be part of the community of people who are merging the spiritual with the digital.</p>
    </div>
</div>
{% endblock %}
