{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Create User{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-4 mx-auto" style="width: 18rem;">
        <div class="card-header">
            <h1>Log In</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate class="form m-2">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% bootstrap_button button_type="submit" content="Create" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
