{% load django_htmx static tailwind_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

        <title>{% block title %}{% endblock %} | {{ request.site.name }}</title>

        <style>
        body {
            background-color: #ffffff;
        }
        </style>

        <script src="{% static 'htmx.min.js' %}" defer></script>
        <script src="{% static 'alpine.min.js' %}" defer></script>
        {% django_htmx_script %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>

